// ==========================================================================
// VARIABLES
// ==========================================================================

$tablet-h: 1024px;
$tablet-v: 768px;
$mobile-h: 667px;
$mobile-v: 375px;

// example:
// media (min-width: $min-tablet-h) {}
$min-tablet-h: 1025px;
$min-tablet-v: 769px;
$min-mobile-h: 668px;
$min-mobile-v: 376px;

$wrap: 1170px;

$f-base: "Open Sans", sans-serif;

$c-white: #fff;
$c-black: #000;
$c-grey: #868686;
$c-grey2: #eaeaea;
$c-grey3: #585b62;
$c-grey4: #acacac;
$c-grey5: #878787;
$c-grey6: #25262e;
$c-base: $c-grey;
$c-blue: #51c8f0;
$c-blue2: #2abdf0;
$c-link: $c-blue;

// ==========================================================================
//   MIXIN'S
// ==========================================================================

%title {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;

  @media (max-width: $mobile-h) {
    font-size: 22px;
  }
}

%sub-title {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  text-align: center;

  @media (max-width: $mobile-h) {
    font-size: 16px;
  }
}

%text {
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;

  @media (max-width: $tablet-v) {
    font-size: 14px;
  }

  @media (max-width: $mobile-h) {
    font-size: 12px;
  }
}

%wrap {
  max-width: $wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  //min-width: 1170px; // отрубил адаптив

  @media (max-width: $tablet-h) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $tablet-v) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $mobile-h) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $mobile-v) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@mixin wrap($width: $wrap) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  //min-width: 1170px;  // отрубил адаптив

  @media (max-width: $tablet-h) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $tablet-v) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $mobile-h) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $mobile-v) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// .example {
//   @extend %wrap;
//   @include wrap(980px);
// }

// ==========================================================================
//   FONT'S
// ==========================================================================

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&subset=cyrillic');

// ==========================================================================
//   BASE
// ==========================================================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

[type=submit] {
  cursor: pointer;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: $f-base;
  color: $c-base;
}

a {
  color: $c-link;

  &:hover,
  &:focus,
  &:active {
    color: $c-link;
  }
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

button,
input,
textarea {
  -webkit-appearance: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $f-base;
}

select[data-select] {
  display: block;
  width: 100%;
}

textarea {
  resize: none;
}

i {
  font-style: italic;
}

/* ==========================================================================
   HEADER
   ========================================================================== */

.header {
  position: relative;

  &__wrap-top {
    background: $c-grey2;
    //height:48px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__wrap-bottom {
    //position: relative;
  }

  &__top {
    $c-base: $c-grey3;

    @extend %wrap;
    text-align: right;
  }

  &__bottom {
    @extend %wrap;

    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrap-logo {
    min-width: 130px;
  }
  &__wrap-nav {
    margin: 0 10px;

    @media (max-width: $tablet-h) {
      display: none;
      position: absolute;
    }
  }

  &__menu-open {
    z-index: 2;
    background: $c-white;
    left: -10px;
    top: 135px;
    display: block;
    width: 100%;

    .header-nav{

      &__list {
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        align-items: baseline;
        padding: 40px 73px 20px 0;

        & > li:not(:first-child) {
          margin-left: 0;
        }

        & > li {
          padding-left: 30px;
          padding-bottom: 20px;

          ul {
            top: 30px;
            width: 280px;

            li {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}

.hamburger {
  width: 210px;
  position: relative;

  button {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
  }

  div:not(:nth-child(4)) {
    display: block;
    width: 50px;
    border-style: solid;
    position: absolute;
    border-width: 0 4px 3px;
    background: transparent;
    border-color: #2abdf0;
    transition: all 1s;
    transition-timing-function: cubic-bezier(.83,-0.88,.7,1.34);
  }

  div:nth-child(1) {
    top: 0;
  }

  div:nth-child(2) {
    top: 8px;
  }

  div:nth-child(3) {
    top: 16px;
  }

  div:nth-child(4) {
    width: 50px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    text-transform: uppercase;
    text-align: center;
    font-family: $f-base;
    color: $c-base;
    font-size: 16px;
    width: 54px;
    top: -11px;
    left: -2px;
    position: absolute;
    cursor: pointer;
    transition: left 0.5s, opacity 0.3s 0.2s;

  }

  &--open {

    span {
      left: -60px;
      opacity: 0;
      transition: left 0.5s, opacity 0.2s;
    }

    div:not(:nth-child(4)) {
      border-width: 0 4px 7px;
      border-color: transparent transparent #2abdf0 transparent;
    }

    button div:nth-child(1) {
      transform: rotate(480deg);
      top: 0;
      left: 5px;
      width: 31px;
    }

    button div:nth-child(2) {
      transform: rotate(-480deg);
      top: 10px;
      left: 20px;
      width: 31px;
    }

    button div:nth-child(3) {
      transform: rotate(360deg);
      top: 18px;
      left: 4px;
      width: 31px;
    }
  }

  @media (min-width: $min-tablet-h ) {
    display: none;
  }

  @media (max-width: $tablet-h) {
    display: inline-block;
  }
}

.header-control {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
  }

  &__item {
    font-size: initial;
    display: inline-block;
  }

  &__item:not(:last-child) {
    margin-right: 28px;
  }

  &__link {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
  }
}

.header-lang {
  &__item {
  }

  &__link {
    text-decoration: none;
    vertical-align: middle;
    color: currentColor;
  }

  &__icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: svg-load("../../img/icons/earth.svg", fill=$c-grey3, stroke=transparent);
    vertical-align: middle;
  }
}

.header-logo {
  display: inline-block;

  img {
    display: block;
  }
}

.header-nav {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    & > li {
      position: relative;
    }

    & > li:not(:first-child) {
      margin-left: 40px;
    }

    & > li > a {
      color: $c-grey4;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
    }

    & > li > a:hover,
    & > li > .active {
      color: $c-blue2;
    }
  }

  //&__item {
  //  position: relative;
  //}

  //&__item:not(:first-child) {
  //  margin-left: 40px;
  //}

  //&__link {
  //  color: $c-grey4;
  //  font-weight: 700;
  //  font-size: 16px;
  //  text-transform: uppercase;
  //  text-decoration: none;
  //}

  //&__link--active,
  //&__link:hover {
  //  color: $c-blue2;
  //}

  &__sub-list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    //top: 100%;
    top: 56px;
    left: 0;
    width: 260px;

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: $c-grey3;
      display: block;
      top: -5px;
      left: 15%;
      //right: 0;
      margin: auto;
      transform: rotate(45deg);
    }

    & > li {
      height: 56px;
      width: 100%;
      background: $c-grey3;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
    }

    & > li:not(:last-child) {
      border-bottom: 1px solid $c-grey5;
    }

    & > li > a {
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 16px;
      color: $c-white;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      text-align: left;
    }

    & > li > a:hover {
      color: $c-white;
      background: $c-blue2;
    }
  }

  &__sub-list--open {
    display: block;
  }

  //&__sub-item {
  //  height: 56px;
  //  width: 100%;
  //  background: $c-grey3;
  //  display: flex;
  //  align-items: center;
  //  position: relative;
  //  z-index: 1;
  //}

  //&__sub-item:not(:last-child) {
  //  border-bottom: 1px solid $c-grey5;
  //}

  //&__sub-link {
  //  font-size: 16px;
  //  text-transform: uppercase;
  //  text-decoration: none;
  //  padding: 0 16px;
  //  color: $c-white;
  //  height: 100%;
  //  width: 100%;
  //  display: flex;
  //  align-items: center;
  //  text-align: left;
  //}

  //&__sub-link:hover {
  //  color: $c-white;
  //  background: $c-blue2;
  //}
}

.header-btn {
  max-width: 210px;
  min-width: 210px;

  @media (max-width: $mobile-h) {
    display: none;
  }
}

/* ==========================================================================
   MAIN
   ========================================================================== */

.main {
  min-height: 100vh;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

.footer {
  background: $c-black;
  color: $c-white;
  height: 90px;

  &__wrap {
    @extend %wrap;

    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__wrap-copyright {
    max-width: 240px;
  }

  &__wrap-social {
  }
}

.footer-copyright {
  font-size: 12px;
}

.footer-social {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    text-align: right;
  }

  &__item {
    font-size: initial;
    display: inline;
    margin: 4px;
  }

  &__link {
  }
}


/* ==========================================================================
   SOCIAL'S
   ========================================================================== */

$twitter:   #1DA1F2;
$facebook:  #3B5998;
$instagram: #E4405F;
$google:    #DC4E41;
$vk:        #6383A8;

%i-social {
  border-radius: 4px;
  width: 45px;
  height: 45px;
  display: inline-block;
  transition: 0.3s all;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $c-grey6;
}

.i-twitter {
  @extend %i-social;

  background-image: svg-load("../../img/social/twitter.svg", fill=$c-white, stroke=transparent);
  
  &:hover { background-color: $twitter; }
}

.i-facebook {
  @extend %i-social;

  background-image: svg-load("../../img/social/facebook.svg", fill=$c-white, stroke=transparent);

  &:hover { background-color: $facebook; }
}

.i-google {
  @extend %i-social;

  background-image: svg-load("../../img/social/google.svg", fill=$c-white, stroke=transparent);

  &:hover { background-color: $google; }
}

.i-instagram {
  @extend %i-social;

  background-image: svg-load("../../img/social/instagram.svg", fill=$c-white, stroke=transparent);

  &:hover { background-color: $instagram; }
}

.i-google {
  @extend %i-social;

  background-image: svg-load("../../img/social/google.svg", fill=$c-white, stroke=transparent);

  &:hover { background-color: $google; }
}


/* ==========================================================================
   BUTTON'S
   ========================================================================== */

.btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: initial;
  text-transform: uppercase;
  line-height: 30px;
  border-radius: 16px;
  padding: 0 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  transition: background 0.1s;
}

.btn--middle {
  border-radius: 4px;
  padding: 11px 30px;
}

.btn--large {
  font-size: 22px;
  border-radius: 4px;
  padding: 20px 34px;

  @media (max-width: $mobile-h) {
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 16px;
  }
}

.btn--blue {
  text-transform: uppercase;
  font-weight: 600;
  background: $c-blue2;
  color: $c-white;

  &:hover,
  &:focus,
  &:active {
    color: $c-white;
    background: lighten($c-blue2, 10%);
  }
}

.btn--block {
  display: block;
  width: 100%;
}

/* ==========================================================================
   FORM'S
   ========================================================================== */

/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */
